# Virtual Environments
.venv/
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env
.env.*

# Logs
*.log

# Database
*.sqlite
*.sqlite3
*.db

# macOS
.DS_Store
